* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    left: 200px;
    top: 44px;

}

a :first-child {
    color: orangered;

}

.box2 {
    color: #d7752b !important;
    text-decoration: none;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 300px;
    line-height: 16px;
    color: #252f3f;
    font-style: italic;
    border-bottom: 2px solid skyblue;
    border-bottom-width: 3px;
}

.box3 {
    text-decoration: none;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 300px;
    line-height: 16px;
    color: #252f3f !important;
    font-style: italic;
    /* border-bottom: 2px solid skyblue; */
    border-bottom-width: 3px;
}

.box4 {
    text-decoration: none;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 300px;
    line-height: 16px;
    color: #252f3f !important;
    font-style: italic;
    border-bottom: 2px solid skyblue;
    border-bottom-width: 3px;
}

nav {
    height: 200px;
    color: #d7752b;
    border: 2px solid rgb(255, 255, 255);

}

.container1 {
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    top: -110px;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #252f3f !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 200px;
    position: relative;
    top: -110px;
}

.container3 {
    position: relative;
    left: 1250px;
    top: -245px;

}

.box5 {
    height: 66px;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 900;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.ppp {
    font-weight: 800;
}

b {
    font-weight: bold;
}

#time {
    color: #85dfff;
}

* {
    padding: 0;
    margin: 0;
}

 b {
    font-weight: bold;
}



.leftarticle1 {
    display: inline-block;
    width: 300px;
    height: 300px;
}
.container5{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 15px;
}
.para2{
   font-weight: bolder;
            font-size: 16px;
           display: inline;

}
.para3{
    font-weight: 400;
                display: inline;
                font-size: 14px;
                line-height: 20px;
                color: #374151;
                font-family: Georgia, 'Times New Roman', Times, serif;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    position: relative;
    left: -850px;
    top: 80px;
}
footer nav {
    height: 70px;
    background-color: silver;
    color: black;
    margin: 0;
    padding: 0;
}
/* .container10{
    position: relative;
    left: 88;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.box10{
    position: relative;
    left: 700px;
}
.box11{
    position: relative;
    left: 743px;
    top: -22;
}
ol li{
list-style: none;
font-family:cursive;
}